<div class="container">
  <div class="form-container">
      <mat-form-field class="example-form-field">
        <mat-label>Search by name</mat-label>
        <input matInput type="text" #searchByNameInput>
        <button [disabled]="!searchByNameInput.value" matSuffix mat-icon-button
          (click)="onByName(searchByNameInput.value)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      <mat-spinner *ngIf="!isOptionsReady"></mat-spinner>
      <mat-form-field *ngIf="isOptionsReady">
        <mat-label>Planets</mat-label>
        <mat-select (selectionChange)="onPlanetOptChanged($event)" [(ngModel)]="selectedPlanet">
          <mat-option [value]="">
            All
          </mat-option>
          <mat-option *ngFor="let planet of planetOptions" [value]="planet.url">
            {{planet.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="isOptionsReady">
        <mat-label>Films</mat-label>
        <mat-select (selectionChange)="onFilmOptChanged($event)" [(ngModel)]="selectedFilm">
          <mat-option [value]="">
            All
          </mat-option>
          <mat-option *ngFor="let film of filmOptions" [value]="film.url">
            {{film.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  </div>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <ul>
    <li *ngFor="let person of people | filmFilter:selectedFilm | planetFilter:selectedPlanet">
      <mat-card class="card" (click)="openDialog(person)">
        <mat-card-header>
          <mat-card-title>{{person.name}}</mat-card-title>
        </mat-card-header>
        <div class="card-content">
          <img *ngIf="person.imgSrc" [src]="person.imgSrc" [alt]="'Photo of ' + person.name" class="person-pic">
        </div>
      </mat-card>
    </li>
  </ul>
  <mat-paginator *ngIf="!isLoading" (page)="handlePageEvent($event)" [length]="count" pageSize="10" hidePageSize="true"
    [pageIndex]="currentPageIndex" aria-label="Select page">
  </mat-paginator>
</div>