.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }
}
mat-form-field {
    margin: 16px 10px 0px 10px;
    padding: 0;
}

mat-spinner {
    margin: 16px auto;
}

ul {
    display: flex;
    flex-wrap: wrap;    
    list-style: none;
    padding: 0;
    justify-content: center;
    width: fit-content;
    margin: auto;
}

.card {
    margin: 16px;
    width: 250px;
}

.card:hover {
    cursor: pointer;
    background: rgb(195, 195, 195);
}

mat-card-title {
   font-weight: 800;
}

.person-pic {
    width: 240px;
    height: 240px;
    margin: 5px;
    object-fit: contain;
    background-color: black;
}

mat-paginator {
    background-color: rgba(255, 255, 255, 0.75);

}